@model WebUni_Management.Core.Models.Library.BookDetailsViewModel
@{
   ViewBag.Title = "Book Details";
}

<h6>@ViewBag.Message</h6>
<div class="details-container">
	<div class="book-img">
		<img src="@Model.ImageUrl" alt="Book Cover"/>
	</div>
	<div class="book-description">
		<h3><b>Title:</b> @Model.Title</h3>
		<h5><b>Author:</b> @Model.Authors</h5>
		<h5><b>Category:</b> @Model.Category</h5>
		<h5><b>Published in:</b> @Model.PublishYear</h5>
		<h5><b>Description:</b> @Model.Description</h5>
		<div class="action-buttons">
		@if (Model.IsRented == false && User.IsInRole("Student"))
		{
			<form asp-controller="Library" asp-action="Rent" asp-route-id="@Model.Id" method="get">
				<button type="submit" class="btn btn-primary">Rent</button>
			</form>
		}
		@if (User.IsInRole("Admin"))
		{
			<form asp-controller="Library" asp-action="Edit" asp-route-id="@Model.Id" method="get">
				<button type="submit" class="btn btn-primary">Edit</button>
			</form>
			<form asp-controller="Library" asp-action="Delete" asp-route-id="@Model.Id" method="get">
				<button type="submit" class="btn btn-primary">Delete</button>
			</form>
		}
			<form asp-controller="Home" asp-action="Back" method="get">
				<input type="hidden" name="previousPage" value="@ViewBag.PreviousPage" />
				<button type="submit" class="btn btn-primary">Back</button>
			</form>
		</div>
	</div>
</div>
<style>
	.details-container {
		height:650px;
		width: 1130px;
		background-color: white;
		margin: auto;
		border: 2px solid #e91e63;
		border-radius: 8px;
		display: flex;
		flex-direction: row;
		align-content: space-between;
		padding-top: 5px;
		padding: 10px;
	}

	.book-img {
		margin-top:20px;
		margin-right: 30px;
		margin-left:30px;
		width: 330px;
		height: 430px;
		float: left;
	}

	.book-img img {
		width: 100%;
		height: 100%;
		border: 1px solid #e91e63;
		border-radius: 3px;
	}

	.book-description {
		margin-top: 20px;
		width: 600px;
		height: 700px;
		float: right;
	}

	.book-description b {
		color: #e91e63; 
	}

	.book-description h5 {
		color: black; 
	}

	.book-description button {
		margin-top: 10px;
	}

	.btn-primary {
		background-color: #fc819e;
		border-color: #fc819e;
		color: black;
		border-radius: 4px;
		padding: 8px 16px;
		cursor: pointer;
	}

	.btn-primary:hover {
		background-color: #e91e63;
		border-color: #e91e63;
	}

	.action-buttons {
		display: flex;
		margin-top: auto;
		gap: 20px;
	}
</style>
