@model WebUni_Management.Core.Models.Library.LibraryInfoViewModel
@{
    ViewBag.Title = "Welcome to the Web University Library!";
}
<div class="index-library-container">
    <div class="index-library-text">
        <div class="image-holder">
            <img class="library-photo" src="@Url.Content("~/images/library.jpg")" alt="Library Photo" />
        </div>
        <div class="library-text-info">
            <h2>@ViewBag.Title</h2>
            <h5>Explore our vast collection of books covering a wide range of topics and genres. Whether you're a student, a researcher, or an avid reader, our library has something for everyone. Enjoy browsing through our catalog and discovering new knowledge. Happy reading and don't hesitate to ask our knowledgeable staff for recommendations or assistance.</h5>
        </div>
    </div>

    <div class="message">
        <h6>Check our recent books in the collection:</h6>
        <p>*Flip the image to unleash details</p>
    </div>
    <div class="flip-card-container">
        @foreach (var item in Model.BookInfoViewModel)
        {
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="@item.ImageUrl" alt="Book Cover">
                    </div>
                    <div class="flip-card-back">
                        <h6><strong>TITLE:</strong> @item.Title</h6>
                        <br />
                        <h6><strong>AUTHOR:</strong> @item.Author </h6>
                        <br />
                        <form asp-controller="Library" asp-action="Details" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn">Details</button>
                        </form>
                    </div>
                </div>
            </div>
        }
        
    </div>
    <div class="message">
        <h6>Check our cozy study rooms and indulge in reading:</h6>
        <p>*Flip the image to unleash details</p>
    </div>
    <div class="flip-card-container">
        @foreach (var item in Model.StudyRoomInfo)
        {
            <div class="flip-card-room">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="@item.ImageUrl" alt="Study Room" />

                    </div>
                    <div class="flip-card-back">
                        <h6><strong>NAME:</strong> @item.Name</h6>
                        <br />
                        <h6><strong>CAPACITY:</strong> @item.Capacity</h6>
                        <br />
                        <form asp-controller="Library" asp-action="Details" asp-route-id="@item.Id" method="get">
                            <button type="submit" class="btn btn-primary">Details</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
    
</div>

<style>

    .index-library-container {
        height: 1100px;
        width: 1130px;
        background-color: white;
        margin: auto;
        border: 2px solid #e91e63;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        padding-top: 5px;
        padding: 10px;
    }

    .index-library-text {
        height:250px;
        display: flex;
        flex-direction: row;
        align-content: center;
    }

    .image-holder {     
        height:80%;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 40px;
    }

    .library-photo {
        width: 100%; 
        height: 100%;
        border: 1px solid #e91e63;
        border-radius: 3px;
    }

    .library-text-info {
        width: 70%;       
        max-width: 650px; 
        color: black;
        margin-bottom: 20px; 
    }

    .library-text-info h2 {
        color: #e91e63;
    }

    .message{
       color: #e91e63;
	   margin-bottom:20px;
    }

    .flip-card-container {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        gap: 20px;
    }

    .flip-card {
        width: 250px;
        height: 300px;
        border: 1px solid #e91e63;
        border-radius: 3px;
        perspective: 1000px; 
        margin-bottom:20px;
    }

    .flip-card-room
    {
        width:300px;
        height:300px;
        border: 1px solid #e91e63;
        border-radius: 3px;
        perspective: 1000px;
    }

    .flip-card-room:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
    .flip-card-front img {
        width: 100%;
        height: 100%;
    }    

    .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
    }

    .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
    }

    .flip-card-front, .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        color: black;
        backface-visibility: hidden;
    }

    .flip-card-back {
        background-color: #fc819e;
        transform: rotateY(180deg);
    }

    .btn {
        background-color: #C1F2B0;
        border-color: #C1F2B0;
        color: black;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn:hover {
            background-color: #65B741;
            border-color: #65B741;
    }
</style>
