@model IEnumerable<WebUni_Management.Core.Models.Account.RequestsViewModel>
@{
	ViewBag.Message = "Pending Requests";
}
<h1>@ViewBag.Message</h1>
<div class="wrapper">
    <div class="requests-container">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">UserName</th>
                    <th scope="col">Password</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr>
                        <td>@item.UserName</td>
                        <td>@item.InitialPassword</td>
                        <td>@item.Email</td>
                        <td class="action-buttons">
                            <form asp-controller="Account" asp-action="ApproveRequest" method="post">
                                <input type="hidden" name="username" value="@item.UserName" />
                                <button type="submit" class="btn btn-primary">Accept</button>
                            </form>
                            <form asp-controller="Account" asp-action="DiscardRequest" method="post">
                                <input type="hidden" name="username" value="@item.UserName" />
                                <button type="submit" class="btn btn-danger">Discard</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
</div>
<style>
    

    .requests-container {
        height: 700px;
        width: 1100px;
        background-color: white;
        margin: auto;
        border: 2px solid #e91e63;
        border-radius: 8px;
        padding: 1px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        border: 1px solid #ccc;
        padding: 8px;
    }
    .btn-primary {
        background-color: #28a745;
        border: 1px solid #28a745;
        color: black;
        padding: 7px 16px;
        border-radius: 4px;
        cursor: pointer;
        display:flex;
    }

    .btn-primary:hover {
        background-color: #0D9276;
        border-color: #0D9276;
    }

    .btn-danger {
        background-color: #dc3545;
        border: 1px solid #dc3545;
        color: black;
        padding: 7px 16px;
        border-radius: 4px;
        cursor: pointer;
        display:flex;
    }

    .btn-danger:hover {
            background-color: #e91e63;
            border-color: #e91e63;
    }

    .action-buttons {
        display: flex;
        margin-top: auto;
        gap: 20px;
    }
</style>
