@model WebUni_Management.Core.Models.PersonalInfo.AllFacultiesViewModel
@{
    ViewBag.Message = "Search through our many faculties!";
}

<div class="all-showcase-container">
    <div class="all-showcase-message">
        <h3>Explore our university's faculties effortlessly</h3>
        <h3>@ViewBag.Message</h3>
    </div>
    <div class="all-search-engine">
        <form class="form-search-engine" asp-controller="PersonalInfo" asp-action="SearchFaculties" method="get">
            <div class="search-term">
                <label asp-for="SearchTerm" class="bold-label">Name</label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Name...">
            </div>
            <div class="submit">
                <button type="submit" class="btn btn-primary search-btn">Search</button>
            </div>
        </form>
    </div>

    @{
        var previousPage = Model.CurrentPage - 1;
        if (previousPage < 1)
        {
            previousPage = 1;
        }

        var maxPage = Math.Ceiling((double)Model.TotalFaculties / Model.FacultiesPerPage);
    }
    <div class="pagination-buttons">
        <a class="btn btn-primary @(Model.CurrentPage == 1 ? "disabled" : string.Empty)"
           asp-controller="PersonalInfo"
           asp-action="SearchFaculties"
           asp-route-currentPage="@previousPage"
           asp-route-yearSearchTerm="@Model.SearchTerm"><<</a>

        <a class="btn btn-primary @(Model.CurrentPage == maxPage || !Model.Faculties.Any() ? "disabled" : string.Empty)"
           asp-controller="PersonalInfo"
           asp-action="SearchFaculties"
           asp-route-currentPage="@(Model.CurrentPage + 1)"
           asp-route-yearSearchTerm="@Model.SearchTerm">>></a>
    </div>

    @if (!Model.Faculties.Any())
    {
        <h2 class="text-center">No faculties found by the given criteria!</h2>
    }
    else
    {
        <div class="flip-card-container">
            <div class="wrapper">
                <div class="requests-container">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Action buttons</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var faculty in Model.Faculties)
                            {
                                <tr>
                                    <td>@faculty.Name</td>
                                    <td class="action-buttons">
                                        @if (User.IsInRole("Admin"))
                                        {
                                            <form asp-controller="PersonalInfo" asp-action="Editfaculty" asp-route-id="@faculty.Id" method="get">
                                                <input type="hidden" name="id" value="@faculty.Id" />
                                                <button type="submit" class="btn btn-primary">Edit</button>
                                            </form>
                                        }                                       
                                        <form asp-controller="PersonalInfo" asp-action="SeeFacultyDetails" asp-route-id="@faculty.Id" method="get">
                                            <input type="hidden" name="previousPage" value="PersonalInfo/SearchFaculties" />
                                            <button type="submit" class="btn btn-primary">Details</button>
                                        </form>
                                        <form asp-controller="PersonalInfo" asp-action="SeeMajors" asp-route-id="@faculty.Id" method="get">
                                            <input type="hidden" name="previousPage" value="PersonalInfo/SearchFaculties" />
                                            <button type="submit" class="btn btn-primary">See Majors</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>

                        @if (User.IsInRole("Admin"))
                        {
                            <tbody>
                                <tr>
                                    <td><strong>ADD FACULTY</strong></td>
                                    <td class="action-buttons">
                                        <form asp-controller="PersonalInfo" asp-action="AddFaculty" method="get">
                                            <button type="submit" class="btn btn-primary">+</button>
                                        </form>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>
                </div>
            </div>
        </div>
    }
</div>
<style>
    .all-showcase-message {
        color: #e91e63;
        margin-bottom: 20px;
        text-align: center;
    }

    .all-search-engine {
        margin-bottom: 30px;
        width: 90%;
        display: flex;
        gap: 20px;
        justify-content: center;
        align-content: center;
    }

    .search-term {
        width: 29%;
        float: left;
        margin-right: 10px;
    }

    .submit {
        float: left;
        width: 8%;
        margin-top: 24px;
    }

    .form-search-engine {
        width: 100%;
    }

    .all-showcase-container {
        height: 670px;
        width: 1130px;
        background-color: white;
        margin: auto;
        border: 2px solid #e91e63;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding-top: 5px;
        padding: 10px;
    }
    
    .btn-primary {
        background-color: #fc819e;
        border-color: #fc819e;
        color: black;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #e91e63;
        border-color: #e91e63;
    }

    .bold-label {
        font-weight: bold;
    }

    .pagination-buttons {
        display: flex;
        justify-content: center;
        align-content: space-around;
        margin-bottom: 30px;
    }

    .wrapper{
        width: 100%;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
    }

    .table th,
    .table td {
        border: 1px solid #ccc;
        padding: 8px;
    }

    .bold-label {
        font-weight: bold;
    }

    .action-buttons {
        display: flex;
        margin-top: auto;
        gap: 20px;
    }
</style>
