@model WebUni_Management.Core.Models.Menu.MenuIndexViewModeltest
@{
ViewBag.Message = "Check out our canteen!";
}

<div class="menu-index-container">
	<div class="welcome-message">
		<div class="image-holde">
			<img src="https://assets-global.website-files.com/62e628ccdd3aacd9841de18b/62ead78b6f662a4cb7295ab6_Carousel%3ACanteen.jpg" alt="canteen" />
		</div>
		<div class="welcome">
			<h2>@ViewBag.Message</h2>
			<h5>Explore our vast collection of delicious meals and beverages. Whether you're a student, a professor, or a visitor, our menu has something for everyone. Don't forget to check out our meny that is updated every day. Happy eating and don't hesitate to ask our friendly staff for recommendations or assistance.</h5>
		</div>
	</div>
	<div class="daily-menu">
		@if (User.IsInRole("Admin"))
		{
			<div class="row">
				<div class="col-md-9">
					<h3>@Model.Date</h3>
				</div>
				<div class="col-md-3">
					<form asp-controller="Menu" asp-action="ChangeDate" asp-route-id="@Model.Id" method="get">
						<button type="submit" class="btn btn-primary">Change Date</button>
					</form>
				</div>
			</div>
		}
		else
		{
			<h4>@Model.Date</h4>
		}		
		<h2><strong>Salads</strong></h2>
		<div class="daily-menu-item">
		@foreach (var item in Model.Dishes)
		{
			@if(item.Category == "Salad")
			{				
					@if (User.IsInRole("Admin"))
					{
						<div class="row">
							<div class="col-md-9">
								<h3>@item.Name: @item.Price lv.</h3>
							</div>
							<div class="col-md-3">
								<form asp-controller="Menu" asp-action="EditDish" asp-route-id="@item.Id" method="get">
									<button type="submit" class="btn btn-primary">Edit</button>
								</form>
							</div>
						</div>
					}
					else
					{
						<h3>@item.Name: @item.Price lv.</h3>
					}				
			}
		}
		</div>
		<h2><strong>Main Dishes</strong></h2>
		<div class="daily-menu-item">
		@foreach (var item in Model.Dishes)
		{
			@if (item.Category == "Main Dish")
			{
					@if (User.IsInRole("Admin"))
					{
						<div class="row">
							<div class="col-md-9">
								<h3>@item.Name: @item.Price lv.</h3>
							</div>
							<div class="col-md-3">
								<form asp-controller="Menu" asp-action="EditDish" asp-route-id="@item.Id"  method="get">
									<button type="submit" class="btn btn-primary">Edit</button>
								</form>
							</div>
						</div>
					}
					else
					{
						<h3>@item.Name: @item.Price lv.</h3>
					}
			}
		}
		</div>
		<h2><strong>Desserts</strong></h2>
		<div class="daily-menu-item">
		@foreach (var item in Model.Dishes)
		{
			@if (item.Category == "Dessert")
			{
					@if (User.IsInRole("Admin"))
					{
						<div class="row">
							<div class="col-md-9">
								<h3>@item.Name: @item.Price lv.</h3>
							</div>
							<div class="col-md-3">
								<form asp-controller="Menu" asp-action="EditDish" asp-route-id="@item.Id" method="get">
									<button type="submit" class="btn btn-primary">Edit</button>
								</form>
							</div>
						</div>
					}
					else
					{
						<h3>@item.Name: @item.Price lv.</h3>
					}
			}
		}
		</div>
		<div class="download">
			@if (User.IsInRole("Admin") && User.IsInRole("Student"))
			{
				<form asp-controller="Menu" asp-action="DownloadMenu" method="get">
					<button type="submit" class="btn btn-primary">Download Menu</button>
				</form>
			}			
		</div>
	</div>
	
</div>
<style>
	.row{
		margin-bottom:10px;
	}
    .menu-index-container {
        height: 750px;
        width: 960px;
        background-color: white;
        margin: auto;
        border: 2px solid #e91e63;
        border-radius: 8px;
        display: flex;
		align-content: center;
        flex-direction: row;
        padding-top: 5px;
        padding: 10px;
    }

	.welcome-message{
		display:flex;
		height: 100%;
		float:left;
        width: 45%;
		margin-right:20px;
		text-align:center;
	}

	.image-holde{
		width:86%;
		height: 36%;
		z-index:100;
		margin-bottom:20px;
	}

	img{
		z-index:100;
		width:100%;
		height:100%;
		border: 1px solid #e91e63;
		border-radius: 3px;
	}

	.welcome{
		width:86%;
		text-align:center;
	}

	h2{
		color: #e91e63;
		margin-bottom:25px;
	}

	.daily-menu{
        float:right;
        width:55%;
        height:100%;
        display:flex;
        flex-direction:column;
        gap:20px;
        text-align:center;
	}

	.welcome-message{
		width: 50%;
		flex-direction:column;
		text-align:start;
	}

	.daily-menu-item{
		margin-bottom:15px;
	}

	.btn-primary {
		background-color: #fc819e;
		border-color: #fc819e;
		color: black;
		border-radius: 4px;
		padding: 10px 20px;
		cursor: pointer;
	}

    .btn-primary:hover {
		background-color: #e91e63;
		border-color: #e91e63;
    }
	
</style>
